.quote-container::before {
    height: 40vh;
    // min-height: 100vh;
    width: 100vw;
    background: url('../../../assets/edinburgh.jpg');
    opacity: 0.5;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    content: '';
    z-index: -10;
    padding-bottom: 2rem;
    margin-top: -1.1rem;
}

.quote-container {
    // height: 100%;
    height: 40vh;
    width: 100vw;
    opacity: 1;
    padding-bottom:1.5rem;

    h5 {
        padding-top: 5.5rem;
        text-align: center;
        font-size: 1.8rem;
        margin: 1.6rem;
        font-style: italic;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .btn {
        display: flex;
        justify-content: center;
        margin-top: 2.2rem;
        color: #fff;
        text-decoration: none;
        // button {
        //     background: #2e3192;
        //     color: #fff;
        //     font-size: 2rem;
        //     padding: 5px;
        //     border-radius: 5px;
        // }

        // button:hover, button:focus {
        //     background: transparent;
        //     cursor: pointer;
        //     color: #232323;
        //     box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
        // }
    }
}