.about-container {
    width: 100vw;

    .about-section {
        margin: 3rem;
    }

    .about-photo {
        width: 40%;
    }

    .compass {
        display: flex;
        justify-content: center;

        img {
            width: 2rem;
        }
    }

    p {
        font-size: 120%;
        font-style: italic;
        margin: 1rem;
    }

    .about-text {
        border: 3px solid darkblue;
    }
}

.video-container {
    position: relative;
    top: 0;

    h2 {
        position: absolute;
        margin-top: -30%;
        margin-left: 15%;
        margin-right: 15%;
        color: #fff;
        font-size: 2.5rem;
        text-shadow: 2px 2px 2px #232323;
    }
}